h1{
    padding-left: 60px;
}

.contenedor-contacto{
    display: flex;
    padding-left: 60px;
    margin-top: 200px;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    font-family: "montserrat", sans-serif;
    color: white;
    font-weight: 600;
    padding-left: 15px;
    margin-top: 20px;
}

form input{
    width: 400px;
    height: 50px;
    border-radius: 7px;
    margin-top: 10px;
    background-color: #121212;
    border: 1px solid white;
}

form textarea{
    width: 400px;
    height: 140px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #121212;
}

input::placeholder,
textarea::placeholder {
  margin-left: 100px;
  color: #999; 
  font-style: italic; 
}


input[type='text'],
input[type='email'],
textarea {
  border: 1px solid #ccc; 
  padding: 10px; 
  font-size: 16px; 
  font-family: "montserrat", sans-serif;
  color: white;

}

form button{
    padding: 14px;
    width: 140px;
    border-radius: 4px;
    border: 0px;
    margin: auto;
    background-color: rgb(36, 58, 3);
    color: white;
    cursor: pointer;
}

form button:hover{
  background-color: darkgreen;
}

.modal {
    background-color: #121212;
    margin: auto;
    border-radius: 10px;
    color: white;
    font-family: "montserrat", sans-serif;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
  }
  
  .modal h2 {
    font-size: 18px;
  }
  
  .posicion-boton-modal {
    margin-top: 10px; 
    cursor: pointer;
  }
  
  .posicion-boton-modal a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .posicion-boton-modal a:hover {
    color: #ff0000;
  }


  