*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #004B3E;
}

  
  #root {
    width: 100%;
    height: 100%;
  }
  

.contenedor-error{
    font-family: "montserrat", sans-serif;
    text-align: center;
    padding-top: 120px;
}

.contenedor-error p{
    margin-top: 20px;
    font-size: 22px;
    color: white;
}

.contenedor-error h1{
  font-size: 200px;
  margin: 0px;
  padding: 0px;
}