@import url('https://fonts.googleapis.com/css?family=Bradley+Hand+ITC&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#root{
    background-color: #004B3E;
    
    /*background-image: linear-gradient(to right, green, yellow);
    background-image: linear-gradient(to right, white, green);
    
    */
}

h1{
    font-family: 'Bradley Hand ITC', cursive;
    color: white;
    margin-top: 140px;
    font-size: 60px;
  }
  

.contenedor-portada-home{
    padding-left: 20px;
    display: flex;
}

.contenedor-portada-home p{
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    color: white;
    padding-left: 60px;
    padding-top: 30px;
    font-size: 19px;
}

.contenedor-portada-home img{
    margin-top: 120px;
    width: 550px;
    height: 330px;
    border-radius: 30px;
}

.contenido-portada{
    width: 600px;
    margin-right: 300px;
}

.contenedor-categorias-home{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.categorias-home{
    padding-left: 60px;
    margin-top: 320px;
}

.categorias-home h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: "montserrat", sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 400;
}

.caja-categoria-home{
    background-color: #121212;
    border-radius: 20px;
    margin: 10px;
    /*width: 200px;*/
    width: 300px;
    /*height: 160px;*/
    height: 200px;
    padding-top: 60px;
    cursor: pointer;
}

.caja-categoria-home a{
    color: white;
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    text-decoration: none;
}

.caja-categoria-home img{
    margin: auto;
    justify-content: center;
    width: 50px;
    margin-left: 5px;
}

.destacadas-home h2{
    font-family: "montserrat", sans-serif;
    color: white;
    padding-left: 80px;
    margin-bottom: 20px;
    margin-top: 80px;
    font-weight: 400;
    font-size: 28px;
}

.contenedor-recetas-destacadas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .caja-receta-destacada {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 320px;
    margin: auto;
  }
  
  .caja-receta-destacada h3 {
    margin-bottom: 10px;
    color: white;
    font-family: "montserrat", sans-serif;
  }

  
  #boton-ver-mas-recetas-destacadas {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "montserrat", sans-serif;
  }

  .contenedor-preguntas-frecuentes{
    padding-left: 180px;
  }

.contenedor-preguntas-frecuentes h2{
    color: white;
    font-family: "montserrat", sans-serif;
    margin-bottom: 80px;
    margin-top: 80px;
    font-weight: 400;
    font-size: 28px;
}

.contenedor-unite{
    background-color: #121212;
    width: 1220px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    margin-top: 80px;
}

.contenedor-unite h2{
    font-family: "montserrat", sans-serif;
    color: white;
    font-weight: 400;
}

.contenedor-unite p{
    color: white;
    font-family: "montserrat", sans-serif;
    margin-top: 10px;
}

.contenido-unite{
    padding: 20px;
}

.img-unite{
    display: block;
}

.img-unite img{
    width: 400px;
    margin-left: 250px;
    height: 300px;
    border-radius: 20px;
    display: block;
}

.img-flecha{
    width: 50px;
    height: 50px;
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 120px;
}


.contenedor-unite {
    background-color: #121212;
    width: 1220px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    margin-top: 80px;
    align-items: center; /* Centrar verticalmente */
}

.contenido-unite {
    padding: 20px;
    flex: 1; /* Para ocupar el espacio restante */
}

.img-unite {
    display: flex;
    justify-content: flex-end; /* Mover la imagen a la derecha */
}

.img-unite img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
