*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navPage{
  background-color: #121212;
  padding: 20px;
  padding-left: 40px;
}

.navPage ul{
  display: flex;
  list-style-type: none;
}

.navPage ul li{
  margin: 20px;
}

.auth-buttons {
  margin-left: auto; 
}


.auth-button {
  display: inline-block;
  margin-left: 10px; 
}


.navPage ul li .secciones{
  color: white;
  font-family: "montserrat", sans-serif;
  font-size: 22px;
  text-decoration: none;
}

.navPage ul li .secciones:hover {
  border-bottom: 5px solid greenyellow; 
}



footer{
  background-color: #121212;
  padding: 40px;
  height: 100%;
  margin-top: 180px;
}

.img-footer{
  display: block;
  justify-content: center;
  margin: auto;
}

footer h3{
  color: white;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
}

footer ul li{
  margin-left: 20px;
  text-decoration: none;
}

footer ul li a{
  color: white;
  font-family: "montserrat", sans-serif;
  text-decoration: none;
  margin: 10px;
  text-align: center;
}

footer ul li a:hover{

  color: rgb(187, 187, 187);
}

footer ul {
  list-style-type: none;
}

.footer-links{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}


.boton-auth{
  color: white;
  font-family: "montserrat", sans-serif;
  background-color: red;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.contenedor-usuarios-listado{

  color: white;
  border-radius: 10px;
  width: 300px;
  padding-left: 60px;
  margin-top: 100px;
}

.tarjeta-usuario-listado{
  background-color: #121212;
  margin: 10px;
  border-radius: 4px;
  padding: 10px;
  width: 500px;
  font-family: "montserrat", sans-serif;
}

.tarjeta-usuario-listado h3{
  margin-bottom: 5px;
}

.tarjeta-usuario-listado p{
  margin-bottom: 20px;
}

.tarjeta-usuario-listado a{
  text-decoration: none;
  color: white;
  background-color: blue;
  border-radius: 4px;
  padding: 4px;
}


.detalle-perfil{
  font-family: "montserrat", sans-serif;
  padding-left: 60px;
  margin-top: 60px;
}

.detalle-perfil p{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.contenedor-auth{
  background-color: #ebebeb;
  border-radius: 100000px;
  padding: 10px;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.contenedor-auth img{
  margin: auto;
  justify-content: center;
  display: block
  ;
}

.navPage ul .contenedor-auth a:hover{
  border: 0px;
}

.contenedor-auth img{
  width: 40px;
  height: 40px;
}

#cerrar-sesion:hover{
  cursor: pointer;
}

.contenedor-auth-logeado{
  background-color: #ebebeb;
  border-radius: 100000px;
  padding: 10px;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.contenedor-auth-logeado img{
  width: 40px;
  height: 40px;
  margin: auto;
  justify-content: center;
  display: block
}

.navPage ul .contenedor-auth-logeado a:hover{
  border: 0px;
}

.img-destacada{
  width: 100%;
  height: 100px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.caja-receta-destacada h3{
  margin-bottom: 20px;
}

.contenedor-iconos-nav{
  display: flex;
}



.navPage ul {
  display: flex;
  align-items: center; 
  list-style-type: none;
  height: 100%; 
}

.navPage ul li {
  margin: 0 20px; 
}

.auth-buttons {
  margin-left: auto; 
  display: flex;
  align-items: center; 
}

.auth-button {
  display: inline-block;
  margin-left: 10px; 
}

.navPage ul li a {
  color: white;
  font-family: "montserrat", sans-serif;
  font-size: 22px;
  text-decoration: none;
}


.logo-nav{
  width: 120px;
}



/*@media only screen and (max-width: 767px){
  footer{
    height: 100%;
  }

  footer ul li{
    margin-left: 0px;
  }

  .footer-container{
    display: block;
    justify-content: center;
    margin: auto;

  }

  .footer-links ul li{
    display: flex;
    flex-direction: column;
  }
  
}
*/