.titulo-iniciar-sesion{
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
}

.contenedor-login{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.contenedor-login p{
    font-family: "montserrat", sans-serif;
    margin: auto;
    padding-top: 30px;
    color: white;
}

.contenedor-login .error{
    color: rgb(248, 42, 42);
}

input[type='password']{
    color: white;
    padding: 10px;
    font-size: 16px;
}

#boton-login{
    margin-top: 20px;
}

#boton-registro{
    margin-top: 20px;
}

.registroLogin{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}


