.contenedor-panel-admin{
    display: flex;
}


.tarjeta-producto-panel{
    display: flex;
    background-color: #121212;
    color: white;
    font-family: "montserrat", sans-serif;
    height: 150px;
    margin: 30px;
    border-radius: 4px;
    width: 700px;
}

.tarjeta-producto-panel h3{
    margin-left: 20px;
    padding-top: 10px;
}

.tarjeta-producto-panel a{
    color: white;
    background-color: green;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
    margin-left: 10px;
}

.tarjeta-producto-panel .categoria{
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.tarjeta-producto-panel p{
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 20px;;
}

.boton-crear-receta{
    background-color: gray;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
    font-family: "montserrat", sans-serif;
    border: 0px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    margin: 30px;
    text-decoration: none;
    margin-bottom: 20px;
}

.tarjeta-producto-panel a{
    cursor: pointer;
}

#boton-eliminar{
    background-color: red;
}

#boton-editar{
    background-color: blue;
}

#boton-ver-mas{
    background-color: rgb(36, 58, 3);
    padding: 5px;
}

.titulo-paginas-panel{
    margin-bottom: 10px;
    padding: 30px;
}

.posicion-seccion-productos{
    margin-top: 50px;
}

.nombre-receta-panel{
    padding: 10px;
  }

.contenedor-boton-panel{
    padding-left: 10px;
    padding-top: 10px;
}

.img-panel{
    width: 150px;
    height: 150px;
    border-radius: 4px;
}


.detalle-contacto span{
    background-color: #202020;
    padding: 5px;
    border-radius: 4px;
}
