.contenedor-quienes-somos{
    background-color: #121212;
    border-radius: 10px;
    width: 95%;
    height: 500px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
}
.contenedor-quienes-somos p{
    font-family: "montserrat", sans-serif;
    color: white;
    font-size: 18px;
    padding-left: 20px;
    margin-top: 10px;
}

span{
    font-weight: bold;
}

.contenedor-quienes-somos h2{
    font-family: "montserrat", sans-serif;
    color: white;
    font-size: 24px;
    padding-left: 20px;
    margin-top: 60px;
}

.contenedor-nuestra-historia{
    display: flex;
    padding-left: 60px;
    padding-top: 100px;
    margin-top: 50px;
}

.contenedor-nuestra-historia h2{
    font-family: "montserrat", sans-serif;
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 30px;
}

.contenedor-nuestra-historia img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-right: 50px;
}

.contenedor-nuestra-historia p{
    color: white;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #121212;
    padding: 15px;
    border-radius: 10px;
    margin-top: 12px;
}

.nuestra-historia p{
    width: 1000px;
    border-radius: 4px;
}

#primer-h2{
    margin-top: 0px;
}

.contenedor-nuestra-historia {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    padding-left: 60px;
    padding-top: 100px;
  }
  



