.contenedor-recetas-listado{
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 140px;
    margin-left: 20px;
    padding-left: 30px;
}

.contenedor-recetas-listado h3{
    color: white;
    font-family: "montserrat", sans-serif;
    font-weight: bold;
}

.contenedor-recetas-listado p{
    color: white;
    font-family: "montserrat", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contenedor-recetas-listado img{
    max-width:140px;
    border-radius: 10px;
    margin-right: 20px;
    height: 140px;
}

.contenedor-recetas-listado a{
    background-color: green;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    height: 50px;
    text-align: center;
    font-family: "montserrat", sans-serif;
    padding: 5px;
}

.contenedor-recetas-listado a:hover{
    background-color: darkgreen;
}

.tarjeta-receta-listado{
    display: flex;
    width: 700px;
    margin: 10px;
    padding: 15px;
    background-color: #1d1d1d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.contenedor-buscador{
    padding-left: 60px;
    margin-top: 60px;
    border-radius: 4px;
    border: 0px;
}

.contenedor-buscador input{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    color: black;
}
